body{
    margin: 0;
    padding: 0;
}

#container{
    height: 100%;
}

section{
    width: 100%;
    height: 50px;
    border: 1px solid blue;
}

.nav-bar {
    background-color: red;
}
.nav-bar .nav {
    list-style-type: none;

}